h1 {
    text-align: center;
    color: antiquewhite;
    margin-bottom: 40px;
}
.box {
    width: 150px;
    height: 150px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}
.move {
    background-color: orange;
    animation: move 7s;
}
@keyframes move {
    0% {left: 0px;}
    100% {transform: translateX(1500px)}
}